
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">
  <span id="ctl00_MainContentContainer_lblTotalValue" class="bodytextmedium">$10.38</span>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGGTS35"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    {% include navigation.html %}

    {% include header.html %}

    {% for p in site.pages_list %}
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% include {{ page.path }} %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
